[submodule "flugegeheimen-nginx"]
	path = flugegeheimen-nginx
	url = git@github.com:achernakov/flugegeheimen-nginx.git
[submodule "flugegeheimen-nginx-module"]
	path = flugegeheimen-nginx-module
	url = git@github.com:achernakov/flugegeheimen-nginx-module.git
[submodule "flugegeheimen-webapp"]
	path = flugegeheimen-webapp
	url = git@github.com:achernakov/flugegeheimen-webapp.git
[submodule "flugegeheimen-upstream-module"]
	path = flugegeheimen-upstream-module
	url = git@github.com:achernakov/flugegeheimen-upstream-module.git
