<?xml version="1.0" encoding="UTF-8"?>
<flugegeheimen>
    <server>
        <net port="2345">
        </net>
    </server>

    <timer addr="192.168.0.93" port="2001" channelsNumber="8">
        <!-- Delay is set in 12.5 ns bins -->
        <channel_0 delay="100"/>
        <channel_1 delay="2"/>
        <channel_2 delay="3"/>
        <channel_3 delay="4"/>
        <channel_4 delay="4"/>
        <channel_5 delay="3"/>
        <channel_6 delay="2"/>
        <channel_7 delay="50"/>
    </timer>

    <adc modulesCount="8">
        <firmware path="res/firmware.bin"/>
        <net control_port="2001" info_port="2000"/>
        <devices>
            <adc_0 addr="192.168.0.61"/>
            <adc_1 addr="192.168.0.62"/>
            <adc_2 addr="192.168.0.63"/>
            <adc_3 addr="192.168.0.64"/>
            <adc_4 addr="192.168.0.65"/>
            <adc_5 addr="192.168.0.66"/>
            <adc_6 addr="192.168.0.67"/>
            <adc_7 addr="192.168.0.68"/>
        </devices>
    </adc>

</flugegeheimen>
